/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #333;
}

.language-selector {
    margin-top: 20px; /* Space between nav and language buttons */
}

.lang-btn {
    color: #fff;
    background-color: #444; /* Similar to nav background */
    border: none;
    padding: 10px 15px; /* Adjust padding for buttons */
    margin: 0 5px; /* Spacing between buttons */
    border-radius: 5px; /* Consistent rounded corners */
    font-size: 1.1em; /* Font size for the buttons */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s; /* Smooth background transition */
}

.lang-btn:hover {
    background-color: #333; /* Darker background on hover */
}

main {
    padding: 20px;
    background-color: #222;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #121212;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .language-selector {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
