/* Body */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #111;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body h1, body h2, body h3, body p {
    color: #fff;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
}

/* Header */
header {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-family: 'Neon Lights', sans-serif;
    position: relative;
}

header h1 {
    font-size: 36px;
    letter-spacing: 2px;
}

header::before {
    animation: particleAnimation 3s linear infinite;
}

/* Section */
section {
    margin: 20px;
    background: linear-gradient(to bottom right, #1a1a1a, #2f2f2f);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, background 0.3s ease;
    position: relative;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    z-index: -1;
}

h2 {
    color: #3498db;
}

h3 {
    color: #3498db;
}

.price-category li {
    margin-bottom: 10px;
    color: #bdc3c7;
    transition: color 0.3s ease;
}

/* Footer */
footer {
    background: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact-info,
#social-media {
    flex: 1;
}

#contact-info h3,
#social-media h3 {
    color: #3498db;
}

#contact-info p {
    color: #bdc3c7;
    margin: 10px 0;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
}

.social-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3498db;
    padding: 5px;
    transition: background 0.3s ease;
}

.social-icon img:hover {
    background: #2980b9;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}